.fc {
	&-section {
		margin-bottom: 5em;

		&_sns {
			margin-bottom: 2em;

			& ul {
				position: relative;
				display: flex;
				justify-content: center;

				&::before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 50%;
					border-bottom: 1px solid var(--main-color);
				    z-index: -100;
				}

				& li {
					padding: 0 10px;
					background-color: #ffffff;

					&:first-child {
						padding-left: 20px;
					}

					&:last-child {
						padding-right: 20px;
					}

					& img {
						width: 35px;
						height: auto;
						opacity: 0.6;
						transition: all 0.4;

						&.fc-sns-icon {
							display: block;
							
							&--hover {
								display: none;
							}
						}

					}

					& a {
						display: block;

						&:hover .fc-sns-icon {
							display: none;

							&--hover {
								display: block;
							}
						}
					}

				}
			}
		}

		&_mainVisual {
			& img {
				width: 100%;
			}
		}

		&-header {
			position: relative;
			margin: 5em 0 3em;
			text-align: center;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				display: block;
				width: 100%;
				border-bottom: 1px solid var(--border-light-color);
				z-index: -100;
			}

			&_title {
				display: inline-block;
				padding: 0 2em;
				background-color: #ffffff;
				font-family: var(--title-font);
			}

			& h1 {
				margin: 0;
				font-size: 1.5em;
				font-weight: normal;

				& span {
					color: var(--main-color);
				}
			}

			& h2 {
				margin: 0.5em 0 0 0;
				font-size: 0.8em;
				font-weight: normal;
			}
		}

		&-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 800px;
			margin: 0 auto;

			& img {
				max-width: 100%;
				max-height: 25em;
			}

			&_inner {
				width: 100%;
				padding: 1em;
				box-sizing: border-box;
			}

			&_innerLeft {
				flex: 1 0 0;
				padding: 1em;
			}

			&_innerRight {
				flex: 1 0 0;
				padding: 1em;

			}

			& p {
				margin: 0;
				line-height: 1.7;
			}
		}
	}

	&-shopList {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			margin: 0 0 1em 0;
			list-style: none;
			font-size: 1em;
			letter-spacing: 0.07em;
			border: 1px solid var(--main-color);

			& a {
				display: block;
				padding: 1em 0;
				color: #000000;

				& span {
					display: block;
					margin-top: 0.3em;
					font-size: 0.7em;
				}

				&:hover {
					color: #fff;
					background-color: var(--main-color);
				}
			}
		}
	}
}

@media screen and (max-width: 648px) {
	.fc {
		&-section {
			padding: 0;

			&_sns {
				& ul {
					&::before {
						display: none;
					}

					& li {
						& img {
							width: 40px;
						}
					}
				}
			}

			&-header {
				&:first-child {
					margin: 3em 0;
				}
			}

			&-content {
				flex-direction: column;

				& img {
					width: 100%;
					max-height: suto;
				}
			}
		}
	}
}